* {
	    font-family: Helvetica;
	    box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #bbede7;
}

header {
    height: 63px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
	margin: 0 auto;
    width: 600px;
    height: 450px;
    border: solid 2px #bbede7;
   }

select#dog {
	width: 150px;
	height: 30px;
	background-color: #b2c493;
    color: #bbede7;
    padding: 5px;
    outline: none;
    border: none;
    margin: 16px 0;
    padding: 2px;
    font-size: 20px;
}

label {
	font-size: 30px;
	margin: 10px;
    padding: 2px;
    color: #5c6350;
}

div {
	background-color: #b2c493;
	padding: 30px 0;
}